@import 'globals';

.header {
  background: black;
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 24px;

  .logo {
    @include Logo;
    color: $green;    
  }
}