@import 'globals';

.home {
  max-width: $center-width;
  margin: 0 auto;
  position: relative;

  .content {
    // margin-top: 24px;
    // background: black;
    position: relative;
    margin-bottom: 24px;

    @include clearfix;

    & > * {
      float: left;
      // width: 50%;
    }

    .left {
      width: 300px;
      img {
        width: 100%;
        display: block;
        border: solid 4px black;
      }      
    }

    .right {
      // background: pink;
      width: calc(100% - 300px);

      .title {
        background: black;
        @include Title;
        padding: 8px 0;
        text-align: center;
        color: white;
      }

      .body {
        padding: 16px 0 0 20px;


        .body-top {
          @include clearfix;

          > * {
            float: left;
          }

          .body-top-left {
            padding-right: 20px;
          }

          h2 {
            @include Subtitle;
            margin-bottom: 8px;
          }

          p {
            @include Paragraph;
            margin-bottom: 8px;
          }
        }

        .body-bottom {
          // background: skyblue;
          margin-top: 16px;

          h2 {
            @include Subtitle;
            margin-bottom: 8px;
          }

          p {
            @include Paragraph;
            margin-bottom: 15px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }

    }
  }

  .chapter-area {
    min-height: 100px;
    // background: black;
    // margin-top: 24px;
    margin-bottom: 24px;

    h2 {
      display: inline-block;
      @include Title2;
      background: black;
      color: white;
      padding: 8px 24px;
    }

    ul.chapter-list {
      border: solid 4px black;
      padding: 7px 0;
      list-style: none;
      margin: 0; 

      li {
        
        a {
          padding: 9px 24px;
          @include Paragraph;

          display: flex;
          align-items: center;
          color: black;

          &:hover {
            background: black;
            color: white;            
          }

          &.new {
            &::after {
              content: 'NEW';
              display: inline-block;
              padding: 2px 12px;
              @include Label;
              line-height: 14px;
              background: $green;
              margin-left: 16px;
              color: black;
            }
          }          
        }
      }
    }
  }
}